@media (min-width: 768px) {
  .real_time,
  .lower-panel {
    display: flex;
  }
}
fieldset {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
}
.data-box {
  margin: 4px 10px;
}
label {
  display: block;
  font-weight: bold;
}
svg {
  max-width: 100%;
}

input {
  width: 100px;
}

@media (min-width: 1200px) {
  input {
      width: 159px;
  }
}