@media (min-width: 768px) {
    .real_time,
    .lower-panel {
      display: flex;
    }
}
.Dashboard fieldset {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}
.Dashboard .data-box {
    margin: 4px 10px;
}
.Dashboard label {
    display: block;
    font-weight: bold;
}
.Dashboard svg {
    max-width: 100%;
}

.Dashboard input {
    width: 100px;
}

@media (min-width: 1200px) {
    .Dashboard input {
        width: 159px;
    }
}