.SofaMode {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    font-size: 48pt;
    color: white;
    align-items: flex-start;
    align-content: flex-start;
}

.SofaMode .data-box {
    flex: 1 1 0;
    padding: 0.25em 0.5em;
    margin: 0.5em;
    border: 1px solid white;
    border-radius: 1em;
    min-width: 200px;
}

.SofaMode label {
    display: block;
    font-size: 0.5em;
}